body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #E1E1E1;
	background-size: 100%;
	display: grid;
	place-items:  center;
	font-family: consolas;
}

.container{	
	max-width: 90%;
	position: relative;
	display: grid;
	place-items:  center;
}

.container .card{
	position: relative;
	cursor: pointer;
	width: 80%;
}

.container .card .body{ 
	width: 100%;
	height: 200px;
	transition: 0.5s;
}

.container .card .body.front{
	position: relative;
	background: #FFFFFF;
	display: grid;
	place-items:  center;
	z-index: 1;
	transform: translateY(100px);
}

.container .card:hover .body.front{
	background: #0C5E9D;
	transform: translateY(0px);
}

.container .card .body.front .content{
	opacity: 0.6;
	transition: 0.5;
}

.container .card:hover .body.front .content{
	opacity: 1;
}

.container .card .body.front .content img{
	max-height: 100px;
}

.container .card .body.back{
	position: relative;
	background: #FFFFFF;
	display: grid;
	place-items:  center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px #B9B9B9;
	transform: translateY(-100px);
}

.container .card:hover .body.back{
	transform: translateY(0px);
}

.container .card .body.back .content p{
	margin: 0;
	padding: 0;
}

.container .card .body.back .content a{
	margin: 15px 0;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	color: #333;
	padding: 7px 10px;
	border: 1px solid #333;
}

.container .card .body.back .content a:hover{
	background-color: #333;
	color: #fff;
}